.alert {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0.9em;
    padding-left: 0.9em;
    box-shadow: 0 5px 0 hsla(0,0%,0%,.15);
    font: inherit;
    font-weight: 400;
    line-height: 1.5em;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}

.alert-warning {
    background: orange;
    color: black;
}

.alert-info {
    background: #1B87C2;
    color: white;
}

.alert-img {
    vertical-align: middle;
    display: table-cell;
    padding-right: 10px;
    padding-top: 10px;
}

.alert-txt {
    vertical-align: middle;
    display: table-cell;
}

.alert-img-image {
    height: 128px;
}

.alert-img-image-a {
    text-decoration: none;
    border-bottom: 0px;    
}

@media (max-width: 350px) {                  
    .alert-img {
       display: none;
    }
 }

