---
title: The Philosophy of Nate
layout: strata-blog
---
<link rel="stylesheet" href="/assets/css/cards.css" />

{% for post in paginator.posts %}
<div class="card-wrapper">
    		<div class="card radius shadowDepth1">
    			<div class="card__content card__padding">
    				<div class="card__meta">{{ post.date | date_to_long_string }}
    				</div>
    				<article class="card__article">
	    				<h3 class="card__title"><a class="card" href="{{ post.url }}">{{ post.title }}</a></h3>
	    				{{ post.content | truncate: 1000 }}
	    			</article>
            <a href="{{ post.url }}">continue reading</a>
    			</div>
  </div>
</div>

{% endfor %}

<span>
    {% if paginator.previous_page %}
        {% if paginator.previous_page != 1 %}
        <p style="display:inline; margin-right: 10px;">
            <a href="/blog/archive-{{ paginator.previous_page }}">Newer Posts</a>
        </p>
        {% endif %}

        {% if paginator.previous_page == 1 %}
        <p style="display:inline; margin-right: 10px;">
            <a href="/blog/">Newer Posts</a>
        </p>
        {% endif %}
    <!-- -->
    {% endif %}

    {% if paginator.next_page and paginator.next_page < paginator.total_pages %}

    <p style="display:inline; margin-right: 10px;">
        <a href="/blog/archive-{{ paginator.next_page }}">Older Posts</a>
    </p>
    {% endif %}
</span>
