---
title: The Philosophy of Nate
layout: strata-blog
---

{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<h4>{{ post.date | date_to_long_string }}</h4>
<p>
{{ post.content | truncate: 1000 }} <a href="{{ post.url }}">continue reading</a>
</p>
{% endfor %}

<span>
    {% if paginator.previous_page %}
        {% if paginator.previous_page != 1 %}
        <p style="display:inline; margin-right: 10px;">
            <a href="/blog/archive-{{ paginator.previous_page }}">Newer Posts</a>
        </p>
        {% endif %}

        {% if paginator.previous_page == 1 %}
        <p style="display:inline; margin-right: 10px;">
            <a href="/blog/">Newer Posts</a>
        </p>
        {% endif %}
    <!-- -->
    {% endif %}

    {% if paginator.next_page and paginator.next_page < paginator.total_pages %}

    <p style="display:inline; margin-right: 10px;">
        <a href="/blog/archive-{{ paginator.next_page }}">Older Posts</a>
    </p>
    {% endif %}
</span>


