{% include strata-head.html %}
{% include strata-blog-header.html %}

<div id="main">
      <section>

          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date_to_long_string }}</h4>

      {{ content }}

      </section>
    <h4 align="center">&bull;&nbsp;&bull;&nbsp;&bull;</h4>
      <h4>Stay Updated</h4>
      <p>Enjoy this post? Want more? Get new posts delivered to your inbox! <a href="https://feedburner.google.com/fb/a/mailverify?uri=nphilosophy">Sign up</a>. Or, subscribe to the feed at <a href="http://feeds.thenaterhood.com/nphilosophy">feeds.thenaterhood.com/nphilosophy</a>.</p>

    </div>


{% include strata-footer.html %}
