{% include strata-head.html %}
{% include strata-blog-header.html %}

<div id="main">
      <section>

          <h1>{{ page.title }}</h1>
          <h4>{{ page.date | date_to_long_string }}</h4>
          <span class="alert alert-info" style="display:none;" id='outdated-post-alert'></span>

      {{ content }}

      </section>
    <h4 align="center">&bull;&nbsp;&bull;&nbsp;&bull;</h4>
    <p align="center"><a class="button" href="https://feedburner.google.com/fb/a/mailverify?uri=nphilosophy">Get updates by email</a><br /><em> or, <a href="http://feeds.thenaterhood.com/nphilosophy">grab the feed</a></em></p>

    <p align="center">Learn something new about space before you go! Check out <a href="http://tellmeabout.space">TellMeAbout.Space</a>.</p>

    </div>

      <script src="/assets/js/thenaterhood.js"></script>
      <script>
        let post_date = Date.parse("{{ page.date | date: "%Y-%m-%d" }}");
        run_outdated_content_alert('outdated-post-alert', post_date, 'inline-block');
      </script>

{% include strata-footer.html %}
