{% include strata-head.html %}
<header id="header">
        <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
                                <h1><strong>Nate Levesque</strong>
				</h1>
                                <span id="nav">
                                <a href="/">Home</a><br />
                                <a href="/about">About</a><br />
                                <a href="/projects">Projects</a><br />
                                <a href="/blog">Blog</a><br />
                                </span>
			</header>

	<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
                                                {{ content }}
					</section>


    </div>

{% include strata-footer.html %}
