{% include strata-head.html %}
<header id="header"
    {% if page.head-image %}
        {% if page.head-image contains '/' %}
            style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('{{page.head-image}}') center top no-repeat; background-size: cover;"
        {% else %}
            style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9) ), url('/images/posts/{{page.head-image}}') center top no-repeat; background-size: cover;"
        {% endif %}
    {% endif %}
        >

        <a href="/" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
                                <h1><strong>Nate Levesque</strong>
				</h1>
                                <span id="nav">
                                <a href="/">Home</a><br />
                                <a href="/projects">Projects</a><br />
                                <a href="/blog">Blog</a><br />
                                <a href="/causes/net-neutrality">Net Neutrality</a><br />
                                </span>
			</header>

	<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
                                                {{ content }}
					</section>


    </div>

{% include strata-footer.html %}
